
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.TerapyDB.TerapyType.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Terapy.TerapyDB.TerapyTypeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>